<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.xxxx.fmockup.mapper.MenuMapper">
	<select id="searchAllMenus" resultType="cn.com.xxxx.fmockup.entity.MenuEntity">
		SELECT MENU_NAME, ICON_NAME, LINK_NAME
			FROM (
				SELECT
					CASE WHEN T3.L_TITLE IS NOT NULL THEN T3.L_TITLE ELSE T2.EN_TITLE END AS MENU_NAME,
					T1.ICON_NAME, T1.LINK_NAME, 1 AS DISP_ORDER1, DISP_ORDER AS DISP_ORDER2
					FROM (
							SELECT TRAN_ID, ICON_NAME, LINK_NAME, DISP_ORDER
								FROM FMOCKUP.S_MENU_LIST
								WHERE MENU_ID = '2023-01-01T00:00:00.000100'
						) AS T1 INNER JOIN
						(
							SELECT TRAN_ID, TRAN_TITLE AS EN_TITLE, 1 AS JOIN_KEY
								FROM FMOCKUP.S_TRAN_TITLE_LIST
								WHERE LANG_ID = 'en'
						) AS T2 ON T1.TRAN_ID = T2.TRAN_ID LEFT OUTER JOIN (
							SELECT TRAN_ID, TRAN_TITLE AS L_TITLE, 1 AS JOIN_KEY
								FROM FMOCKUP.S_TRAN_TITLE_LIST
								WHERE LANG_ID = #{langId}
						) AS T3	ON T2.JOIN_KEY = T3.JOIN_KEY AND T2.TRAN_ID = T3.TRAN_ID
				UNION ALL
				SELECT
					CASE WHEN T3.L_TITLE IS NOT NULL THEN T3.L_TITLE ELSE T2.EN_TITLE END AS MENU_NAME,
					T1.ICON_NAME, T1.LINK_NAME, 1 AS DISP_ORDER1, DISP_ORDER AS DISP_ORDER2
					FROM (
							SELECT S_TRAN_LIST.TRAN_ID, ICON_NAME, LINK_NAME, DISP_ORDER
								FROM FMOCKUP.M_USER_LIST, FMOCKUP.M_USER_ROLE_LIST, FMOCKUP.M_ROLE_LIST, FMOCKUP.M_ROLE_TRAN_LIST, FMOCKUP.S_TRAN_LIST, FMOCKUP.S_MENU_LIST
								WHERE M_USER_LIST.USER_ID = #{userId}
									AND M_USER_LIST.DELETED_F = 'N'
									AND M_USER_ROLE_LIST.DELETED_F = 'N'
									AND M_ROLE_LIST.DELETED_F = 'N'
									AND M_ROLE_TRAN_LIST.DELETED_F = 'N'
									AND S_TRAN_LIST.DELETED_F = 'N'
                                    AND S_MENU_LIST.DELETED_F = 'N'
									AND M_USER_LIST.USER_ID = M_USER_ROLE_LIST.USER_ID
									AND M_USER_ROLE_LIST.ROLE_ID = M_ROLE_LIST.ROLE_ID
									AND M_ROLE_LIST.ROLE_ID = M_ROLE_TRAN_LIST.ROLE_ID
									AND M_ROLE_TRAN_LIST.TRAN_ID = S_TRAN_LIST.TRAN_ID
                                    AND S_TRAN_LIST.TRAN_ID = S_MENU_LIST.TRAN_ID
						) AS T1 INNER JOIN
						(
							SELECT TRAN_ID, TRAN_TITLE AS EN_TITLE, 1 AS JOIN_KEY
								FROM FMOCKUP.S_TRAN_TITLE_LIST
								WHERE LANG_ID = 'en'
						) AS T2 ON T1.TRAN_ID = T2.TRAN_ID LEFT OUTER JOIN (
							SELECT TRAN_ID, TRAN_TITLE AS L_TITLE, 1 AS JOIN_KEY
								FROM FMOCKUP.S_TRAN_TITLE_LIST
								WHERE LANG_ID = #{langId}
						) AS T3	ON T2.JOIN_KEY = T3.JOIN_KEY AND T2.TRAN_ID = T3.TRAN_ID
			) T (MENU_NAME, ICON_NAME, LINK_NAME, DISP_NAME1, DISP_NAME2)
			ORDER BY DISP_NAME1, DISP_NAME2
	</select>
</mapper>
